html {
    height: 100%;
    font-family: 'Kiwi Maru', serif;
}

body {
    background-image: url("../images/guinote_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    margin-left: 2%;
}

h1 {
    font-size: 100px;
    margin: 10px auto 20px auto;
    color: gold;
    text-shadow: -2px 0 brown, 0 2px brown, 2px 0 brown, 0 -2px brown;
}

.logotipo {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 170px;
}

label {
    font-size: 25px;
    margin-left: 5%;
}

input {
    display: inline-block;
    margin-left: 30px;
}

input[type=text] {
    width: 30%;
    font-size: large;
    border: solid black;
    border-width: 2px;
}

input[type=checkbox] {
    transform: scale(2);
}

.crearPartida {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 5%;
    width: 25%;
    height: 80px;
    font-size: x-large;
    background-image: radial-gradient(ellipse, rgba(52, 205, 21, 0.482), green);
}

button:hover {
    border: solid green;
    color: gold;
}
