html {
    font-family: 'Kiwi Maru', serif;
    height: 100%;
}

body {
    background-image: url("../images/guinote_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    margin: 100px auto 10px 30px;
    color: gold;
    text-shadow: -2px 0 brown, 0 2px brown, 2px 0 brown, 0 -2px brown;
}

.flechaIz {
    position: absolute;
    top: 5%;
    left: 2%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.logotipo {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 200px;
    height: 170px;
}

table {
    width: 70%;
    margin: 20px 0 0 30px;
    padding: 0;
}

th {
    border: 1px solid black;
    color: gold;
    text-shadow: -1px 0 brown, 0 1px brown, 1px 0 brown, 0 -1px brown;
    opacity: 0.8;
    background-color:darkgreen;
}

td {
    border: 1px solid black;
    color: gold;
    text-shadow: -1px 0 brown, 0 1px brown, 1px 0 brown, 0 -1px brown;
    opacity: 0.8;
    background-color:green;
} 

tr:hover {
    background-color: darkgreen;
    color: gold;
    text-shadow: -1px 0 brown, 0 1px brown, 1px 0 brown, 0 -1px brown;
    opacity: 1;
}

button {
    width: 100%;
    font-size: large;
    background-image: radial-gradient(ellipse, rgba(52, 205, 21, 0.482), green);
}

tr button:hover {
    color: gold;
    border: solid green;
}
