html {
    font-family: 'Kiwi Maru', serif;
}

h1 {
    font-size: 80px;
    margin: 100px auto 10px auto;
}

.flechaIz {
    position: absolute;
    top: 5%;
    left: 2%;
    height: 5%;
    width: 5%;
}

.logotipo {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 15%;
    height: 15%;
}

table {
    width: 70%;
    margin: 20px 0 0 0;
    padding: 0;
}

td {
    border: solid black;
}

tr button:hover {
    background-color: green;
    color: white;
}

button {
    width: 100%;
    font-size: large;
}
