html {
    font-family: 'Kiwi Maru', serif;
}

h1 {
    font-size: 80px;
    margin: auto auto 10px auto;
}

.logotipo {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 15%;
    height: 15%;
}

input {
    height: 30px;
    font-size: large;
}

.buscador {
    width: 50%;
}

ul {
    width: 70%;
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

li {
    border: solid black;
}