html {
    font-family: 'Kiwi Maru', serif;
    height: 100%;
}

body {
    background-image: url("../images/guinote_background.png");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 200px;
    text-align: center;
    margin: 100px auto 200px auto;
}

.botonLogout {
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: large;
    height: 30px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
}

.botonLogout:hover {
    background-color: brown;
    color: white;
    border: solid black;
}

.logotipo {
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    height: 200px;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones > button {
    flex: 1;
    font-size: x-large;
    margin: 10px;
    height: 100px;
}

.botones button:hover {
    background-color: green;
    color: white;
    border: solid black;
}
