html {
    font-family: 'Kiwi Maru', serif;
    height: 100%;
}

body {
    background-image: url("../images/guinote_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 200px;
    text-align: center;
    margin: 100px auto 0px auto;
    color: gold;
    text-shadow: -2px 0 brown, 0 2px brown, 2px 0 brown, 0 -2px brown;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: auto auto 150px auto;
}

.logotipo {
    width: 200px;
    height: 170px;
    position: absolute;
    top: 0;
    right: 0;
}

.flechaIz {
    position: absolute;
    top: 5%;
    left: 2%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones > button {
    flex: 1;
    font-size: x-large;
    margin: 10px;
    height: 100px;
    background-image: radial-gradient(ellipse, rgba(52, 205, 21, 0.482), green);
}

.botones button:hover {
    color: gold;
    border: solid green;
    cursor: pointer;
}
