html {
    height: 100%;
    font-family: 'Kiwi Maru', serif;
}

#pantalla {
    min-width: 100%;
    min-height: 100%;
}

.equipo1, .equipo2 {
    width: 250px;
    height: 80px;
    border: 2px solid #555555;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    margin-bottom: 30px;
}

.equipo1:disabled, .equipo2:disabled {
    opacity: 50%;
    cursor: default;
}

.iniciarPartida {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 25%;
    height: 50px;
    font-size: large;
}

.idPartida {
    float: right;
    font-size: 40px;
}

.content {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.equipo1 {
    margin-left: 20%;
}

.equipo2 {
    margin-left: 27%;
}

#equipos {
    margin: auto;
    width: 90%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 26px;
}

#equipos td {
    padding: 15px;
}
